{% extends 'extends/base.html.twig' %}

{% block main %}
<div class="container">
<div class="row pt-3">
<div class="col-sm-6 offset-sm-3">
<table>
    <thead>
        <tr>
            <td>
                ID
            </td>
            <td>
                First name
            </td>
            <td>
                Last name
            </td>
            <td>
                Country
            </td>
            <td>
                national
            </td>
            <td>
                international
            </td>
        </tr>
    </thead>
    {% for client in clients %}
    <tr>
        <td>
        {{ client.id }}
        </td>
        <td>
        {{ client.firstName }}
        </td>
        <td>
        {{ client.lastName }}
        </td>
        <td>
        {{ client.country }}
        </td>
        <td>
        {{ client.nationalPhoneNumber }}
        </td>
        <td>
        {{ client.internationalPhoneNumber }}
        </td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
</div>

{% endblock %}
